
@font-face {font-family: "iconfont";
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.if-checkbox:before { content: "\d615"; }
.if-circle:before { content: "\d62e"; }
.if-triangle-top:before { content: "\d64f"; }
.if-detailcollected:before { content: "\d604"; }
.if-filter:before { content: "\d649"; }
.if-info:before { content: "\d603"; }
.if-plus:before { content: "\d631"; }
.if-minus:before { content: "\d641"; }
.if-history:before { content: "\d64a"; }
.if-location:before { content: "\d610"; }
.if-area:before { content: "\d605"; }
.if-star:before { content: "\d616"; }
.if-alert:before { content: "\d61d"; }
.if-up:before { content: "\d63f"; }
.if-down:before { content: "\d606"; }
.if-back:before { content: "\d643"; }
.if-box:before { content: "\d651"; }
.if-call:before { content: "\d645"; }
.if-check:before { content: "\d614"; }
.if-checked:before { content: "\d646"; }
.if-cancel:before { content: "\d60a"; }
.if-success:before { content: "\d60e"; }
.if-delete:before { content: "\d617"; }
.if-right:before { content: "\d61b"; }
.if-triangle-down:before { content: "\d619"; }
.if-close:before { content: "\d648"; }
.if-arrow-down:before { content: "\d61f"; }
.if-arrow-left:before { content: "\d620"; }
.if-arrow-right:before { content: "\d628"; }
.if-arrow-top:before { content: "\d629"; }
.if-message:before { content: "\d633"; }
.if-subway:before { content: "\d62d"; }
.if-avatar:before { content: "\d602"; }
.if-warn:before { content: "\d600"; }
.if-remove-hover:before { content: "\d702"; }
.if-remove:before { content: "\d618"; }
.if-changeagentcall:before { content: "\d640"; }
.if-arrowright:before { content: "\d634"; }
.if-attentionmore:before { content: "\d652"; }
.if-scancamera:before { content: "\d664"; }
.if-arrow-down-bold:before { content: "\d414"; }
.if-arrow-right-bold:before { content: "\d62b"; }
.if-arrow-up-bold:before { content: "\d415"; }
.if-entrust-mgmt:before { content: "\d401"; }
.if-upload-pic:before { content: "\d407"; }
.if-favourite:before { content: "\d644"; }
.if-heart:before { content: "\d61c"; }
.if-detail-more:before { content: "\d413"; }
.if-bread-crumbs:before { content: "\d412"; }
.if-depressed-face:before { content: "\d312"; }
.if-dial:before { content: "\d311"; }
.if-smiling-face:before { content: "\d310"; }
.if-arrow-left-bold:before { content: "\d625"; }
.if-arrow-right-narrow:before { content: "\d654"; }
.if-run:before { content: "\d626"; }
