/*
  Icon Font: iconfont
*/

@font-face {
  font-family: "iconfont";
  src: url("./iconfont.eot");
  src: url("./iconfont.eot?#iefix") format("embedded-opentype"),
       url("./iconfont.woff") format("woff"),
       url("./iconfont.ttf") format("truetype"),
       url("./iconfont.svg#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "iconfont";
    src: url("./iconfont.svg#iconfont") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.if-alert:before,
.if-android:before,
.if-apartment:before,
.if-apple:before,
.if-area:before,
.if-arrow-down:before,
.if-arrow-down-bold:before,
.if-arrow-left:before,
.if-arrow-right:before,
.if-arrow-top:before,
.if-arrow-up-bold:before,
.if-arrowright:before,
.if-attentionmore:before,
.if-avatar:before,
.if-back:before,
.if-bell:before,
.if-bill:before,
.if-box:before,
.if-bread-crumbs:before,
.if-call:before,
.if-cancel:before,
.if-cart:before,
.if-changeagentcall:before,
.if-check:before,
.if-checkbox:before,
.if-checkbox-triangle:before,
.if-checked:before,
.if-circle:before,
.if-circle1:before,
.if-close:before,
.if-collect-hollow-small:before,
.if-collected-solid-small:before,
.if-complaints:before,
.if-delete:before,
.if-depressed-face:before,
.if-detail-more:before,
.if-dial:before,
.if-down:before,
.if-download:before,
.if-email:before,
.if-entrust-mgmt:before,
.if-evaluate:before,
.if-exit-login:before,
.if-favourite:before,
.if-filter:before,
.if-heart:before,
.if-help:before,
.if-help-questions:before,
.if-history:before,
.if-home:before,
.if-house-consultant:before,
.if-house-schedule:before,
.if-iconfont31zhuanfa:before,
.if-info:before,
.if-key:before,
.if-list:before,
.if-location:before,
.if-map:before,
.if-map-list:before,
.if-map-pin:before,
.if-message:before,
.if-messagedynamic:before,
.if-messagenone:before,
.if-messagenotice:before,
.if-messageremind:before,
.if-minus:before,
.if-mobile:before,
.if-my-account:before,
.if-nav:before,
.if-nearbybank:before,
.if-nearbybus:before,
.if-nearbyhospital:before,
.if-nearbyrestaurant:before,
.if-nearbyschool:before,
.if-nearbyshop:before,
.if-no-complaints:before,
.if-note:before,
.if-notice:before,
.if-notification:before,
.if-pay-order:before,
.if-payment:before,
.if-pen:before,
.if-play:before,
.if-plus:before,
.if-qq:before,
.if-refresh:before,
.if-remove:before,
.if-remove-hover:before,
.if-rent:before,
.if-right:before,
.if-ring:before,
.if-rmb:before,
.if-sale:before,
.if-scancamera:before,
.if-schedule:before,
.if-search-result:before,
.if-setting:before,
.if-share:before,
.if-shield:before,
.if-smiling-face:before,
.if-solid-dots:before,
.if-sort:before,
.if-star:before,
.if-structure:before,
.if-subway:before,
.if-success:before,
.if-surrounding:before,
.if-triangle-down:before,
.if-triangle-left:before,
.if-triangle-right:before,
.if-triangle-top:before,
.if-uncheck:before,
.if-up:before,
.if-upload-pic:before,
.if-warn:before,
.if-weibo:before,
.if-weixin:before {
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.if-alert:before { content: "\d61d"; }
.if-android:before { content: "\d611"; }
.if-apartment:before { content: "\d613"; }
.if-apple:before { content: "\d621"; }
.if-area:before { content: "\d605"; }
.if-arrow-down:before { content: "\d61f"; }
.if-arrow-down-bold:before { content: "\d414"; }
.if-arrow-left:before { content: "\d620"; }
.if-arrow-right:before { content: "\d628"; }
.if-arrow-top:before { content: "\d629"; }
.if-arrow-up-bold:before { content: "\d415"; }
.if-arrowright:before { content: "\d634"; }
.if-attentionmore:before { content: "\d652"; }
.if-avatar:before { content: "\d602"; }
.if-back:before { content: "\d643"; }
.if-bell:before { content: "\d626"; }
.if-bill:before { content: "\d660"; }
.if-box:before { content: "\d651"; }
.if-bread-crumbs:before { content: "\d412"; }
.if-call:before { content: "\d645"; }
.if-cancel:before { content: "\d60a"; }
.if-cart:before { content: "\d627"; }
.if-changeagentcall:before { content: "\d640"; }
.if-check:before { content: "\d614"; }
.if-checkbox:before { content: "\d615"; }
.if-checkbox-triangle:before { content: "\d423"; }
.if-checked:before { content: "\d646"; }
.if-circle:before { content: "\d62e"; }
.if-circle1:before { content: "\d653"; }
.if-close:before { content: "\d648"; }
.if-collect-hollow-small:before { content: "\d419"; }
.if-collected-solid-small:before { content: "\d420"; }
.if-complaints:before { content: "\d410"; }
.if-delete:before { content: "\d617"; }
.if-depressed-face:before { content: "\d312"; }
.if-detail-more:before { content: "\d413"; }
.if-dial:before { content: "\d311"; }
.if-down:before { content: "\d606"; }
.if-download:before { content: "\d622"; }
.if-email:before { content: "\d60f"; }
.if-entrust-mgmt:before { content: "\d401"; }
.if-evaluate:before { content: "\d642"; }
.if-exit-login:before { content: "\d405"; }
.if-favourite:before { content: "\d644"; }
.if-filter:before { content: "\d649"; }
.if-heart:before { content: "\d61c"; }
.if-help:before { content: "\d601"; }
.if-help-questions:before { content: "\d402"; }
.if-history:before { content: "\d64a"; }
.if-home:before { content: "\d61e"; }
.if-house-consultant:before { content: "\d404"; }
.if-house-schedule:before { content: "\d408"; }
.if-iconfont31zhuanfa:before { content: "\d647"; }
.if-info:before { content: "\d603"; }
.if-key:before { content: "\d612"; }
.if-list:before { content: "\d62a"; }
.if-location:before { content: "\d610"; }
.if-map:before { content: "\d60b"; }
.if-map-list:before { content: "\d422"; }
.if-map-pin:before { content: "\d421"; }
.if-message:before { content: "\d633"; }
.if-messagedynamic:before { content: "\d663"; }
.if-messagenone:before { content: "\d681"; }
.if-messagenotice:before { content: "\d662"; }
.if-messageremind:before { content: "\d661"; }
.if-minus:before { content: "\d641"; }
.if-mobile:before { content: "\d630"; }
.if-my-account:before { content: "\d403"; }
.if-nav:before { content: "\d623"; }
.if-nearbybank:before { content: "\d658"; }
.if-nearbybus:before { content: "\d656"; }
.if-nearbyhospital:before { content: "\d657"; }
.if-nearbyrestaurant:before { content: "\d654"; }
.if-nearbyschool:before { content: "\d655"; }
.if-nearbyshop:before { content: "\d659"; }
.if-no-complaints:before { content: "\d409"; }
.if-note:before { content: "\d607"; }
.if-notice:before { content: "\d701"; }
.if-notification:before { content: "\d62f"; }
.if-pay-order:before { content: "\d400"; }
.if-payment:before { content: "\d406"; }
.if-pen:before { content: "\d60d"; }
.if-play:before { content: "\d63b"; }
.if-plus:before { content: "\d631"; }
.if-qq:before { content: "\d638"; }
.if-refresh:before { content: "\d411"; }
.if-remove:before { content: "\d618"; }
.if-remove-hover:before { content: "\d702"; }
.if-rent:before { content: "\d608"; }
.if-right:before { content: "\d61b"; }
.if-ring:before { content: "\d418"; }
.if-rmb:before { content: "\d604"; }
.if-sale:before { content: "\d609"; }
.if-scancamera:before { content: "\d664"; }
.if-schedule:before { content: "\d624"; }
.if-search-result:before { content: "\d417"; }
.if-setting:before { content: "\d635"; }
.if-share:before { content: "\d61a"; }
.if-shield:before { content: "\d60c"; }
.if-smiling-face:before { content: "\d310"; }
.if-solid-dots:before { content: "\d416"; }
.if-sort:before { content: "\d64e"; }
.if-star:before { content: "\d616"; }
.if-structure:before { content: "\d625"; }
.if-subway:before { content: "\d62d"; }
.if-success:before { content: "\d60e"; }
.if-surrounding:before { content: "\d70c"; }
.if-triangle-down:before { content: "\d619"; }
.if-triangle-left:before { content: "\d63e"; }
.if-triangle-right:before { content: "\d63d"; }
.if-triangle-top:before { content: "\d64f"; }
.if-uncheck:before { content: "\d650"; }
.if-up:before { content: "\d63f"; }
.if-upload-pic:before { content: "\d407"; }
.if-warn:before { content: "\d600"; }
.if-weibo:before { content: "\d639"; }
.if-weixin:before { content: "\d63a"; }
